@import "styles/mixins";

.mdc-button {
  overflow: hidden !important;
}

.icon {
  @include material-icon-size(18px);
}

.spinner-overlay {
  position: absolute;
  top: -8px;
  left: -16px;
  right: -16px;
  bottom: -8px;
  background: rgba(220, 220, 220, 0.8);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-label {
  margin-top: -3px;
  margin-left: -3px;
}
