<ng-container [ngSwitch]="appearanceAttribute">
  <!-- basic -->
  <div *ngSwitchCase="'basic'">
    <button
      (click)="click($event)"
      [color]="color"
      [disabled]="disabledAttribute || (disabledAttribute$ | async) || (isLoading$ | async) || isLoading"
      [type]="typeAttribute"
      [routerLink]="routerLinkAttribute"
      [class]="class"
      mat-button
    >
      <ng-container [ngTemplateOutlet]="templateLabel"/>
    </button>
  </div>

  <!-- raised -->
  <div *ngSwitchCase="'raised'">
    <button
      (click)="click($event)"
      [color]="color"
      [disabled]="disabledAttribute || (disabledAttribute$ | async) || (isLoading$ | async) || isLoading"
      [type]="typeAttribute"
      [routerLink]="routerLinkAttribute"
      [class]="class"
      mat-raised-button
    >
      <ng-container [ngTemplateOutlet]="templateLabel"/>
    </button>
  </div>

  <!-- stroked -->
  <div *ngSwitchCase="'stroked'">
    <button
      (click)="click($event)"
      [color]="color"
      [disabled]="disabledAttribute || (disabledAttribute$ | async) || (isLoading$ | async) || isLoading"
      [type]="typeAttribute"
      [routerLink]="routerLinkAttribute"
      [class]="class"
      mat-stroked-button
    >
      <ng-container [ngTemplateOutlet]="templateLabel"/>
    </button>
  </div>

  <!-- flat -->
  <div *ngSwitchCase="'flat'">
    <button
      (click)="click($event)"
      [color]="color"
      [disabled]="disabledAttribute || (disabledAttribute$ | async) || (isLoading$ | async) || isLoading"
      [type]="typeAttribute"
      [routerLink]="routerLinkAttribute"
      [class]="class"
      mat-flat-button
    >
      <ng-container [ngTemplateOutlet]="templateLabel"/>
    </button>
  </div>

  <!-- icon -->
  <div *ngSwitchCase="'icon'">
    <button
      (click)="click($event)"
      [color]="color"
      [disabled]="disabledAttribute || (disabledAttribute$ | async) || (isLoading$ | async) || isLoading"
      [type]="typeAttribute"
      [routerLink]="routerLinkAttribute"
      [class]="class"
      mat-icon-button
    >
      <ng-container [ngTemplateOutlet]="templateIcon"/>
    </button>
  </div>
</ng-container>

<ng-template #templateLabel>
  <div class="d-flex align-items-center">
    <ng-container
      *ngIf="(isLoading$ | async) || isLoading"
      [ngTemplateOutlet]="spinner"
    />

    <mat-icon
      *ngIf="icon"
      [inline]="inline"
      class="icon me-2"
    >
      {{ icon }}
    </mat-icon>
    <span>{{ label }}</span>
  </div>
</ng-template>

<ng-template #templateIcon>
  <mat-icon>{{ icon }}</mat-icon>
</ng-template>

<ng-template #spinner>
  <div class="spinner-overlay">
    <mat-spinner
      [diameter]="19"
      [color]="color"
      class="spinner me-2"
    />
  </div>
</ng-template>
