<app-header-page
  title="Przyciski"
  subtitle="Różne użycia komponetu przycisku"
  [hasOptionBackToParent]="true"
></app-header-page>

<div class="row">
  <div class="col-2">
    <app-button
      appearanceAttribute="raised"
      label="Label"
      color="primary"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="flat"
      label="Label"
      color="primary"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="stroked"
      label="Label"
      color="primary"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="basic"
      label="Label"
      color="primary"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="raised"
      label="Label"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="flat"
      label="Label"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="stroked"
      label="Label"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="basic"
      label="Label"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="raised"
      label="Label"
      color="warn"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="flat"
      label="Label"
      color="warn"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="stroked"
      label="Label"
      color="warn"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="basic"
      label="Label"
      color="warn"
      class="mb-2"
    />
  </div>

  <div class="col-2">
    <app-button
      [isLoading]="true"
      appearanceAttribute="raised"
      label="Label"
      color="primary"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="flat"
      label="Label"
      color="primary"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="stroked"
      label="Label"
      color="primary"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="basic"
      label="Label"
      color="primary"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="raised"
      label="Label"
      color="accent"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="flat"
      label="Label"
      color="accent"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="stroked"
      label="Label"
      color="accent"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="basic"
      label="Label"
      color="accent"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="raised"
      label="Label"
      color="warn"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="flat"
      label="Label"
      color="warn"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="stroked"
      label="Label"
      color="warn"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="basic"
      label="Label"
      color="warn"
      class="mb-2"
    />
  </div>

  <div class="col-2">
    <app-button
      appearanceAttribute="raised"
      icon="home"
      label="Home"
      color="primary"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="flat"
      icon="home"
      label="Home"
      color="primary"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="stroked"
      icon="home"
      label="Home"
      color="primary"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="basic"
      icon="home"
      label="Home"
      color="primary"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="raised"
      icon="edit"
      label="Edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="flat"
      icon="edit"
      label="Edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="stroked"
      icon="edit"
      label="Edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="basic"
      icon="edit"
      label="Edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="raised"
      icon="delete"
      label="Delete"
      color="warn"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="flat"
      icon="delete"
      label="Delete"
      color="warn"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="stroked"
      icon="delete"
      label="Delete"
      color="warn"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="basic"
      icon="delete"
      label="Delete"
      color="warn"
      class="mb-2"
    />
  </div>

  <div class="col-2">
    <app-button
      [isLoading]="true"
      appearanceAttribute="raised"
      icon="home"
      label="Home"
      color="primary"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="flat"
      icon="home"
      label="Home"
      color="primary"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="stroked"
      icon="home"
      label="Home"
      color="primary"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="basic"
      icon="home"
      label="Home"
      color="primary"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="raised"
      icon="edit"
      label="Edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="flat"
      icon="edit"
      label="Edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="stroked"
      icon="edit"
      label="Edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="basic"
      icon="edit"
      label="Edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="raised"
      icon="delete"
      label="Delete"
      color="warn"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="flat"
      icon="delete"
      label="Delete"
      color="warn"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="stroked"
      icon="delete"
      label="Delete"
      color="warn"
      class="mb-2"
    />

    <app-button
      [isLoading]="true"
      appearanceAttribute="basic"
      icon="delete"
      label="Delete"
      color="warn"
      class="mb-2"
    />
  </div>

  <div class="col-2">
    <app-button
      appearanceAttribute="icon"
      icon="home"
      label="Label"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="icon"
      icon="edit"
      color="accent"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="icon"
      icon="delete"
      color="warn"
      class="mb-2"
    />
  </div>

  <div class="col-2">
    <app-button
      appearanceAttribute="raised"
      icon="link"
      label="Link"
      [routerLinkAttribute]="'../'"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="flat"
      icon="link"
      label="Link"
      [routerLinkAttribute]="'../'"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="stroked"
      icon="link"
      label="Link"
      [routerLinkAttribute]="'../'"
      class="mb-2"
    />

    <app-button
      appearanceAttribute="basic"
      icon="link"
      label="Link"
      [routerLinkAttribute]="'../'"
      class="mb-2"
    />
  </div>
</div>
