<div>
  <app-header-page
    title="Przykłady (dev)"
    subtitle="Przykładowe użycia generycznych komponetów"
    icon="construction"
  ></app-header-page>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodePadding
      class="tree-node-leaf"
    >
      <button
        mat-icon-button
        color="primary"
        [routerLink]="node.link"
      >
        <mat-icon>launch</mat-icon>
      </button>

      <small class="tree-node-leaf__text ms-2">{{ node.displayName }}</small>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
      class="tree-node-expandable"
    >
      <button mat-icon-button color="primary" matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{ getTreeNodeExpandableIcon(node) }}
        </mat-icon>
      </button>
      {{ node.displayName }}
    </mat-tree-node>
  </mat-tree>
</div>
