@use '@angular/material' as mat;

@include mat.core();

// Themes
@import "./themes/light-theme";
@import "./themes/dark-theme";

// Core classes
.light-theme {
  @include mat.all-component-colors($light-theme);
  $primary: mat.get-color-from-palette($light-theme-primary);
  $accent: mat.get-color-from-palette($light-theme-accent);
  $warn: mat.get-color-from-palette($light-theme-warn);

  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --active: rgba(0, 0, 0, 0.04);

  --high-contrast: rgb(0, 0, 0);
  --light-text-1: rgb(131, 131, 131);
  --border-1: rgb(213, 213, 213);
  --clear-text-1: rgb(51, 51, 51);
  --clear-text-2: rgb(33, 37, 41);
  --light-background-1: rgb(250, 250, 250);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  $primary: mat.get-color-from-palette($dark-theme-primary);
  $accent: mat.get-color-from-palette($dark-theme-accent);
  $warn: mat.get-color-from-palette($dark-theme-warn);

  --primary: #{$primary};
  --accent: #{$accent};
  --warn: #{$warn};
  --active: rgba(255, 255, 255, 0.04);

  --high-contrast: rgb(255, 255, 255);
  --light-text-1: rgb(201, 201, 201);
  --border-1: rgb(70, 70, 70);
  --clear-text-1: rgb(215, 215, 215);
  --clear-text-2: rgb(239, 239, 239);
  --light-background-1: rgb(48, 48, 48);
}
