* {
  box-sizing: border-box;
}

.form-row {
  margin-bottom: 10px;
}

a {
  color: var(--primary);

  &:hover {
    color: var(--tertiary);
  }
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--on-background);
}
