@if (loading$ | async) {
  <app-table-loading></app-table-loading>
}

@if (isTableErrorVisible$ | async) {
  <app-table-error [error$]="error$"></app-table-error>
}

@if (isTableEmptyVisible$ | async) {
  <app-table-empty></app-table-empty>
}

@if (isTableContentVisible$ | async) {
  <app-table-content
    [items$]="items$"
    [info$]="info$"
    [loading$]="loading$"
    [success$]="success$"
    [error$]="error$"
    [pagination]="pagination"
    (pageChange)="onPageChange($event)"
  >
    <ng-content></ng-content>
  </app-table-content>
}
