<mat-form-field [appearance]="appearanceAttribute" class="w-100">
  <mat-label>{{ label }}</mat-label>
  <input
    [attr.max]="_maxAttribute"
    [attr.min]="_minAttribute"
    [formControl]="control"
    [required]="required"
    [type]="typeAttribute"
    autocomplete="off"
    matInput
  />
  @if (control.value && !control.disabled) {
<button
    (click)="clearValue()"
   
    color="primary"
    mat-icon-button
    matSuffix
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
}
  @if (error) {
<mat-error>{{ error }}</mat-error>
}
</mat-form-field>
