<app-header-page
  title="Tabela - podstawowa"
  subtitle="Przykładowe użycie podstawowego komponentu tabeli"
  [hasOptionBackToParent]="true"
></app-header-page>

<div class="d-flex mb-2">
  <app-button
    (buttonClickEvent)="onSuccessClick()"
    [disabledAttribute$]="dataMockListLoading$"
    appearanceAttribute="stroked"
    label="Success"
    color="primary"
    class="me-1"
  />

  <app-button
    (buttonClickEvent)="onFailClick()"
    [disabledAttribute$]="dataMockListLoading$"
    appearanceAttribute="stroked"
    label="Fail"
    color="primary"
    class="me-1"
  />

  <app-button
    (buttonClickEvent)="onEmptyClick()"
    [disabledAttribute$]="dataMockListLoading$"
    appearanceAttribute="stroked"
    label="Empty"
    color="primary"
    class="me-1"
  />
</div>

<!--<p>loading: {{ dataMockListLoading$ | async }}</p>-->
<!--<p>success: {{ dataMockListSuccess$ | async }}</p>-->
<!--<p>error: {{ dataMockListError$ | async | json }}</p>-->
<!--<p>list: {{ dataMockListItems$ | async | json }}</p>-->

<!------------------------------------>
<!-- 1. First way -------------------->
<!-- Write every single column ------->
<!------------------------------------>

<app-table
  [items$]="dataMockListItems$"
  [info$]="dataMockListInfo$"
  [loading$]="dataMockListLoading$"
  [success$]="dataMockListSuccess$"
  [error$]="dataMockListError$"
  [pagination]="true"
  (pageChange)="onPageChange($event)"
>
  @if ((dataMockListItems$ | async); as dataSource) {
    <table
      mat-table
      [dataSource]="dataSource"
      class="w-100"
    >
      <!-- FirstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Imię</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  }

  <!--  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="30"></mat-paginator>-->
</app-table>

<!------------------------------------>
<!-- 2. Second way ------------------->
<!-- Display basic columns in loop --->
<!------------------------------------>

<!--<app-table-->
<!--  [items$]="dataMockListItems$"-->
<!--  [loading$]="dataMockListLoading$"-->
<!--  [success$]="dataMockListSuccess$"-->
<!--  [error$]="dataMockListError$"-->
<!--&gt;-->
<!--  <table-->
<!--    mat-table-->
<!--    [dataSource]="dataSource"-->
<!--    *ngIf="(dataMockListItems$ | async) as dataSource"-->
<!--    class="w-100"-->
<!--  >-->
<!--    <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">-->
<!--      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->
<!--</app-table>-->
