<form (ngSubmit)="handleSubmit()" [formGroup]="formGroup" autocomplete="off">
  <div class="form-row">
    <app-input
      [formControl]="email"
      typeAttribute="email"
      label="Email">
    </app-input>
  </div>

  <div class="form-row">
    <app-input-password
      [formControl]="password"
      label="Hasło">
    </app-input-password>
  </div>

  <p>Nie masz jeszcze konta?
    <a [routerLink]="registerPage" class="cmn-tx-primary">
      Zarejestruj się
    </a>
  </p>

  <div class="d-flex justify-content-end">
    <app-button
      appearanceAttribute="flat"
      typeAttribute="submit"
      label="Zaloguj się"
      [disabledAttribute$]="isSubmitDisabled$"
      [isLoading$]="loading$">
    </app-button>
  </div>
</form>
