@use '@angular/material' as mat;

$dark-theme-primary: mat.define-palette(mat.$indigo-palette, 200);
$dark-theme-accent: mat.define-palette(mat.$grey-palette, 900);
$dark-theme-warn: mat.define-palette(mat.$red-palette, 400);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $dark-theme-accent,
    warn: $dark-theme-warn,
  ),
  //typography: mat.define-typography-config(), // example of using custom typography
  //density: 0, // example of using custom density
));
