<form (ngSubmit)="handleSubmit()" [formGroup]="formGroup" autocomplete="off">
  <div class="form-row">
    <div class="row g-2">
      <div class="col-5">
        <app-input
          [formControl]="name"
          typeAttribute="text"
          label="Imię">
        </app-input>
      </div>
      <div class="col-7">
        <app-input
          [formControl]="surname"
          typeAttribute="text"
          label="Nazwisko">
        </app-input>
      </div>
    </div>
  </div>

  <div class="form-row">
    <app-input
      [formControl]="email"
      typeAttribute="email"
      label="Email">
    </app-input>
  </div>

  <div class="form-row">
    <app-input-password
      [formControl]="password"
      label="Hasło">
    </app-input-password>
  </div>

  <div class="form-row">
    <app-input-password
      [formControl]="confirmPassword"
      label="Potwierdź hasło">
    </app-input-password>
  </div>

  <p>Masz już konto?
    <a [routerLink]="loginPage">
      Zaloguj się
    </a>
  </p>

  <div class="d-flex justify-content-end">
    <app-button
      appearanceAttribute="flat"
      typeAttribute="submit"
      label="Zarejestruj się"
      [disabledAttribute$]="isSubmitDisabled$"
      [isLoading$]="loading$">
    </app-button>
  </div>
</form>
