.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
}

.auth-wrapper__card {
  width: calc(100% - 30px);
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
}
