.start {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-variant);
}

.start__content {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.content__title {
  font-size: 45px;
  font-weight: 500;
}

.content__subtitle {
  font-size: 17px;
  font-weight: 400;
}

.content__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
