<div class="start">
  <div class="start__content content">
    <h1 class="content__title">Witaj w systemie</h1>
    <h2 class="content__subtitle">Życzymy miłego użytkowania!</h2>

    <div class="content__buttons">
      <app-button
        [routerLinkAttribute]="registerPage"
        appearanceAttribute="flat"
        label="Załóż konto">
      </app-button>

      <app-button
        [routerLinkAttribute]="loginPage"
        appearanceAttribute="stroked"
        label="Zaloguj się">
      </app-button>
    </div>
  </div>
</div>
